<h3>訂單資料</h3>
<%= bootstrap_form_tag url: @form_option[:url], method: @form_option[:method] do |f| %>
  <%= label_tag 'customer_name', "訂購人" %>
  <%= f.text_field "customer_name", { hide_label: true, value: @invoice.customer ? @invoice.customer.name : '' }%>
  <%= label_tag "deliver_address", '寄送地址' %>
  <%= f.text_field "deliver_address", { hide_label: true, value: @invoice.deliver_address } %>
  <%= label_tag "contactor", '聯絡人' %>
  <%= f.text_field "contactor", { hide_label: true, value: @invoice.contactor } %>
  <%= label_tag "contact_phone", '聯絡電話' %>
  <%= f.phone_field "contact_phone", { hide_label: true, value: @invoice.contact_phone } %>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>品項</th>
        <th>單價</th>
        <th>數量</th>
        <th>總價</th>
      </tr>
    <thead>
    <tbody>
      <% @items.each do |item| %>
        <tr id="<%= item.id %>">
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td class="amount"><%= f.number_field "amount_#{item.id}",  hide_label: true %></td>
          <td class="detail_total" id="total_<%= item.id%>">0</td>
        </tr>
      <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td id="total"><b>$ 0</b></td>
        </tr>
    </tbody>
  </table>
  <%= f.submit %>
<% end %>
